{% extends 'security/base_modal.html.twig' %}

{% block modal_head %}Connexion{% endblock %}

{% block authentication_form %}

    {% include 'security/login_form.html.twig' %}

{% endblock %}

{% block footer_modal %}
    <p><small class="text-muted">
            <span class="modal-link" onclick="displayAuthenticationModal('reset_password')">
                Mot de passe oublié
            </span>
            ?
    </small></p>
    <p><small class="text-muted">
            <span class="modal-link" onclick="displayAuthenticationModal('registration')">
                Créer votre compte
            </span>
    </small></p>
{% endblock %}
