/_Building/
/.tmp.drivedownload/
/.idea/
/UML Diagrams/
/.php_cs.cache

/.env
/public/bundles/
/var/
/vendor/

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
