.modal .picture-load {
    margin-bottom: 0.5rem;
}
.modal .picture-load .form-control {
    padding: 0;
}
.modal .label-file {
    height: 70px;
    margin: 0;
}
.modal label img {
    width: 70px;
    height: auto;
}
.modal .label-file {
    padding: 1px;
    cursor: pointer;
}
.modal .input-file {
    display: none;
}


.modal .modal-footer p {
    margin-bottom: .2rem;
}
.modal-body input[type=submit] {
    margin-top: 10px;
}
.modal label {
    margin-top: 5px;
    margin-bottom: 3px;
}
.modal .modal-footer, .modal .modal-footer, .modal .modal-footer, .modal .modal-footer {
    display: block;
    color: black;
    line-height: 1 !important;
}
.form-group {
    margin-bottom: 0;
}
.modal-body input {
    line-height: 1.2;
}
.modal input::placeholder, .modal input::placeholder {
    font-size: 0.8em;
}
.modal .modal-link {
    color: black;
    cursor: pointer;
    text-decoration: underline;
}
.modal .modal-link:hover {
    color: #6c757d;
    text-decoration: underline #6c757d;
}
