{% extends 'base.html.twig' %}
{% block css %}
    <link rel="stylesheet" href="{{ asset('lib/jqueryUi/jquery-ui.min.css') }}">
{% endblock %}
{% block title %}SnowTricks, la communauté !{% endblock %}

{% block header %}
	<header style="background-image: url('{{ asset('img/welcome.jpg') }}')">
		<div class="contents-header">
			<h1 class="header-title text-center">SnowTricks</h1>
			<div class="sub-title text-center">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolor numquam ad ipsam corrupti impedit libero illum eius distinctio earum porro explicabo qui culpa, necessitatibus minus dolore tenetur beatae ratione!
			</div>
		</div>
	</header>
{% endblock %}

{% block body %}
    {% spaceless %}
    <i class="fas fa-arrow-up fa-3x"></i>
	<div class="container homepage" id="top">
        <div class="search d-flex justify-content-end">
            <div class="form-group row">
                <div class="">
                    <input type="text" id="search" placeholder="Chercher un trick" class="form-control">
                </div>
                <input id="submit" type="submit" value="OK" class="btn btn-outline-info">
            </div>
        </div>
        <div  class="d-flex justify-content-end" role="alert">
            <div id="search-warning" class="alert alert-warning col-8 col-sm-6 col-md-4 col-lg-3">
                <strong>Ce trick est inconnu...</strong>
                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
        </div>
        <h4 class="text-center">Les groupes</h4>
        <div class="main-groups" style="margin: 1em;">
            <div class="h5 d-flex justify-content-center">
                <span class="badge">Tous</span>
            </div>
        </div>
        <h3 class="text-center">Les Tricks</h3>
        <div class="row main-tricks d-flex justify-content-around">
            {# Snowtrick Thumbnail #}
			{% include 'snowtricks/trick_thumbnail.html.twig' with tricks %}
		</div>
	</div>
    {% endspaceless %}
{% endblock %}

{% block javascript %}
    <script src="{{ asset('lib/jqueryUi/jquery-ui.min.js') }}"></script>
	<script src="{{ asset('js/homePage.js') }}"></script>
{% endblock %}
