{% extends 'base.html.twig' %}

{% block title %}SnowTricks !{% endblock %}

{% block header %}
	<header style="background-image: url('{{ asset('img/welcome.jpg') }}')">
		<div class="contents-header">
			<h1 class="header-title text-center">SnowTricks</h1>
			<div class="sub-title text-center">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident dolor numquam ad ipsam corrupti impedit libero illum eius distinctio earum porro explicabo qui culpa, necessitatibus minus dolore tenetur beatae ratione!
			</div>
		</div>
	</header>
{% endblock %}

{% block body %}
	<i class="fas fa-arrow-up fa-3x"></i>
	<div class="container" id="top">
		<div class="row main-tricks">
			{# Snowtrick Thumbnail #}
			{% include 'snowtrick/trick_thumbnail.html.twig' with tricks %}
		</div>
	</div>
{% endblock %}

{% block javascript %}
	<script src="{{ asset('js/main.js') }}"></script>
{% endblock %}
