<!DOCTYPE html>
<html>
		{# Head #}
		{% include 'layout/head.html.twig' %}
        {% block css %}{% endblock %}
    <body>
        <div id="modal-container"></div>
		{# Loading Spinner #}
		<i class="fa fa-spinner fa-pulse fa-5x fa-fw"></i>
		{# Navbar #}
		{% include 'layout/navbar.html.twig' %}
		{# Header #}
		{% block header %}{% endblock %}
		{# Body #}
		{% block body %}{% endblock %}

		{# Footer #}
		{% include 'layout/footer.html.twig' %}

	    {# JavaScript #}
        {#jQuery#}
        <script src="{{ asset('assets/lib/jquery.min.js') }}"></script>
        {#Bootstrap#}
        <script src="{{ asset('assets/lib/popper.min.js') }}"></script>
        <script src="{{ asset('assets/lib/bootstrap/js/bootstrap.min.js') }}"></script>
        {#My JS#}
        <script src="{{ asset('assets/js/modal.js') }}"></script>
        {% block javascript %}{% endblock %}

    </body>
</html>
