{% extends 'auth/modal.html.twig' %}

{% block modal_head %}Content de vous revoir $UserName{% endblock %}

{% block authentication_form %}
    <form action="authentification/changePassword" method="post">
        <input hidden type="text" name="login" value="">
        <div class="form-group form-control-sm">
            <label for="psw" style="margin:0;">Créer un nouveau mot de passe</label><br>
            <small class="text-muted">(minimum 8 caractères)</small>
            <input class="form-control form-control-sm" name="psw" id="psw" type="password" minlength=8 required>
        </div>
        <div class="form-group form-control-sm">
            <label for="psw2">Confirmez votre mot de passe</label>
            <input class="form-control form-control-sm" name="psw2" id="psw2" type="password" required>
        </div>
        <div class="text-center">
            <input class="btn btn-primary btn-sm" type="submit" value="Réinitialiser">
        </div>
    </form>
{% endblock %}

{% block footer_modal %}
    <p><small class="text-muted"><span class="modal-link" onclick="displayModal('connection')">Se connecter</span></small></p>
{% endblock %}
