<div id="resetPasswordModal" class="modal fade" role="dialog">
  <div class="modal-dialog modal-dialog-centered modal-sm">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Mot de passe oublié</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 col-md-10 mx-auto">
            <form action="authentification/reinitialiser" method="post">
              <div class="form-group form-control-sm">
                <label for="login">Saisissez votre nom d'utilisateur</label>
                <input class="form-control form-control-sm" name="login" id="login" type="login" required>
              </div>
              <div class="text-center">
              	<input class="btn btn-primary btn-sm" type="submit" value="Réinitialiser">
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="modal-footer">
   		<div class="row">
    		<div class="col-8">
                <p><small class="text-muted"><span class="modal-link" id="connexion">Se connecter</span></small></p>
                <script>
                    $("#connexion").on("click", function(){
                        $("#modal-container").load("/connexion",function(response){
                            $(".modal-backdrop").remove();
                            $("#connectionModal").modal({show:true});
                        });
                    });
                </script>
            </div>
        	<div class="col-4">
          		<button type="button" class="btn btn-default btn-sm text-right" data-dismiss="modal">Close</button>
        	</div>
    	</div>
      </div>
    </div>
  </div>
</div>