{% extends 'auth/modal.html.twig' %}

{% block modal_head %}Mot de passe oublié{% endblock %}

{% block authentication_form %}
  <form action="authentification/reinitialiser" method="post">
    <div class="form-group form-control-sm">
      <label for="login">Saisissez votre nom d'utilisateur</label>
      <input class="form-control form-control-sm" name="login" id="login" type="login" required>
    </div>
    <div class="text-center">
      <input class="btn btn-primary btn-sm" type="submit" value="Réinitialiser">
    </div>
  </form>
{% endblock %}

{% block footer_modal %}
  <p><small class="text-muted"><span class="modal-link" onclick="displayModal('connection')">Se connecter</span></small></p>
{% endblock %}
