<hr style="margin: 0;">
<footer>
    <div class="row" id="my-links">
        <div class="offset-3 col-2">
            <a href="https://github.com/vlescot" target="_blank"><i class="fab fa-github fa-lg"></i></a>
        </div>
        <div class="col-2">
            <a href="https://www.linkedin.com/in/vincent-lescot-70916959/" target="_blank"><i class="fab fa-linkedin-in fa-lg"></i></a>
        </div>
        <div class="col-2">
            <a class="col-2" href="mailto:vincent.lescot@gmail.com" target="_blank"><i class="far fa-envelope fa-lg"></i></a>
        </div>
    </div>
    <div id="legal-mention" class='text-center'>
        <span id="copyright">&copy; 2018 - Réalisé par Vincent Lescot | </span>
        <a href='https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228' target='_blank'>Mentions Légales</a>
    </div>
</footer>