<header style="background-image: url('{{ asset('assets/img/welcome.jpg') }}')">
	<div class="contents-header">
		<h1 class="header-title text-center">{% block header_title %}{% endblock %}</h1>
		<div class="sub-title text-center">{% block header_sub_title %}{% endblock %}</div>
	</div>
</header>