<body style="background-color: #f4f9ff; padding: 30px; text-align: center; ">
	<h2 style="color: #0E2050; padding: 10px 0 10px 0;margin:0 0 20px 0;"><strong>Bienvenue dans la communauté {{ username }},</strong></h2>
	<div style="margin:0;">
		<p>Avant de pouvoir partager sur notre plâte-forme, il ne te reste plus qu'à terminé ton authentification en cliquant sur le lien suivant : <a href="{{ url('UserConfirmation', {'token': token}) }}">Confirmation</a></p>
		<p style="margin:30px 0;"><strong style="color: #0E2050;">À bientôt !</strong></p>
	</div>
</body>